<template>
    <div>
        <br/>
        <div class="questionName" v-html="question.question"/>
        <div class="answers" v-for="answer in answers" :key="answer">
            <button class="button" @click="answerQuestion(answer)" v-html="answer"/>
        </div>

    </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import {Randomize} from "@/ArrayRandomizer";

export default {
    name: "QuestionScreen",

    data() {
        return {
            question: '',
            answers: []
        }
    },

    created() {
        this.getCurrentQuestion();
    },

    methods: {
        ...mapMutations(["updateAResult"]),
        ...mapGetters(["getQuestion", "numberOfQuestions"]),


        async getCurrentQuestion() {
            this.question = await this.getQuestion()(this.$router.currentRoute.params.number)
            this.answers = [];
            this.answers.push(this.question.correct_answer);

            //Adds all answers to an array and uses the randomize function to put them in a random order.
            for (let answer of this.question.incorrect_answers) {
                this.answers.push(answer);
            }
            this.answers = await Randomize(this.answers);
        },

        async answerQuestion(answer) {
            this.updateAResult({
                payload: answer,
                questionNumber: this.$router.currentRoute.params.number
            })

            //If there's a next question, go the the next question. Otherwise go to the result screen.
            if ((+this.$router.currentRoute.params.number + 1) < this.numberOfQuestions()) {
                await this.$router.push("/question/" + (+this.$router.currentRoute.params.number + 1))
                await this.getCurrentQuestion();
            } else {
                await this.$router.push("/results")
            }
        }
    }
}
</script>

<style scoped>

</style>