<template>
    <div>
        <h1>Results</h1>
        <h2>Score: {{ score }}</h2>
        <div class="grid">
            <h2>Question</h2>
            <h2>Correct Answer</h2>
            <h2>Given answer</h2>
            <!-- Checks if the answer given is correct it makes them green. Otherwise it makes them red. -->
            <div
                :style="entries[3*Math.floor(index/3) + 1]===entries[3*Math.floor(index/3) + 2]? {'background':'green'} : {'background':'red'}"
                v-for="(entry, index) in entries" class="entry" :key="entry + index" v-html="entry"/>
        </div>
        <div>
            <button class="button2" @click="backToStart">Back to start</button>
            <button class="button2" @click="retry">Retry</button>
        </div>
        <br/>
        <br/>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
    name: "ResultScreen",

    data() {
        return {
            questions: '',
            answers: [],
            entries: [],
            user: {},
            score: 0

        }
    },

    created() {
        this.setVariables()
    },

    methods: {
        ...mapGetters(["getQuestions", "getResults", "getSettings", "numberOfQuestions", "getUser"]),
        ...mapMutations(["updateResults"]),
        ...mapActions(["fetchQuestions", "patchUser"]),

        setVariables() {
            this.answers = this.getResults()
            this.questions = this.getQuestions()
            for (let i = 0; i < this.answers.length; i++) {
                this.entries.push((this.questions[i]).question)
                this.entries.push(this.questions[i].correct_answer)
                this.entries.push(this.answers[i])
                if (this.answers[i] === this.questions[i].correct_answer) {
                    this.score += 10
                }
            }
            this.user = this.getUser()
            if (this.user.highScore < this.score) {
                this.patchUser({userId: this.user.id, score: this.score})
            }
        },

        async backToStart() {
            await this.$router.push("/start")
        },

        //Start back at question 1 with the same settings.
        async retry() {
            await this.fetchQuestions(this.getSettings())
            await this.updateResults(new Array(this.numberOfQuestions()).fill(false))
            await this.$router.push("/question/0")
        }
    }
}
</script>