<template>
    <div id="divClick" class="container" @mousedown="GoToQuestions">
        <br/>
        <input v-model="username" alt="username" placeholder="Username" class="username">
        <br/>
        <input v-model="triviaAmount" type="number" name="trivia_amount" id="trivia_amount" class="numberSelection"
               min="1"
               max="50" placeholder="Number of questions">
        <br/>
        <!-- Category dropdown element with id hardcoded from the backend -->
        <select v-model="triviaCategory" name="trivia_category" class="dropdown">
            <option value="">Any Category</option>
            <option value="9">General Knowledge</option>
            <option value="10">Entertainment: Books</option>
            <option value="11">Entertainment: Film</option>
            <option value="12">Entertainment: Music</option>
            <option value="13">Entertainment: Musicals &amp; Theatres</option>
            <option value="14">Entertainment: Television</option>
            <option value="15">Entertainment: Video Games</option>
            <option value="16">Entertainment: Board Games</option>
            <option value="17">Science &amp; Nature</option>
            <option value="18">Science: Computers</option>
            <option value="19">Science: Mathematics</option>
            <option value="20">Mythology</option>
            <option value="21">Sports</option>
            <option value="22">Geography</option>
            <option value="23">History</option>
            <option value="24">Politics</option>
            <option value="25">Art</option>
            <option value="26">Celebrities</option>
            <option value="27">Animals</option>
            <option value="28">Vehicles</option>
            <option value="29">Entertainment: Comics</option>
            <option value="30">Science: Gadgets</option>
            <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
            <option value="32">Entertainment: Cartoon &amp; Animations</option>
        </select>
        <br/>
        <select v-model="triviaDifficulty" name="trivia_difficulty" class="dropdown">
            <option value="">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br/>
        <button class="button2" id="buttonClick">Question</button>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
    name: "StartScreen",

    data() {
        return {
            username: '',
            triviaAmount: '',
            triviaCategory: '',
            triviaDifficulty: ''
        }
    },

    mounted() {
        this.init()
    },

    methods: {
        //imports map functions
        ...mapActions(['fetchUser', 'postUser', "fetchQuestions"]),
        ...mapGetters(["getUser", "numberOfQuestions", "getSettings"]),
        ...mapMutations(["updateResults", "updateSettings"]),

        init() {
            if (Object.keys(this.getUser()).length !== 0) {
                this.username = this.getUser().username
            }
        },

        async GoToQuestions(event) {
            //check if username and amount of questions is filled in.
            //div click if anywhere on the screen is pressed
            //button click if the button is clicked
            if (this.triviaAmount.length > 0 && this.username.length > 0 && (event.target.id === "divClick" || event.target.id === "buttonClick")) {
                await this.fetchUser(this.username)
                if (this.getUser() === undefined) {
                    await this.postUser(this.username)
                }

                //sanitize input of the number of questions to a valid integer
                this.triviaAmount = Math.floor(Math.abs(Number(this.triviaAmount)))
                this.triviaAmount = this.triviaAmount === 0 ? 1 : this.triviaAmount

                this.updateSettings({
                    amount: this.triviaAmount,
                    category: this.triviaCategory,
                    difficulty: this.triviaDifficulty
                })
                await this.fetchQuestions(this.getSettings())
                await this.updateResults(new Array(this.numberOfQuestions()).fill(false))
                await this.$router.push("/question/0")
            }
        }
    }
}


</script>