.app {
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header{
    font-family: Title;
    font-size: min(4em,12vh);
    margin: 0;
    padding: 0.2em;
    text-align: center;
    background-color: #170f41;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

h1{
    font-family: 'RegularText';
    font-size: min(2em,8vh);
    font-weight: bolder;
    color: #ffffff;
}


.questionName{
    font-family: 'RegularText';
    font-size: max(1.5em,2vw);
}

.answers{
    display: block;
    width: 60%;
    max-width: 40vw;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    padding-bottom: 5px;
}

.button {
    font-family: 'RegularText';
    font-weight: bold;
    color: #2e2459;
    font-size: max(1.2em,2.5vw);
    width: 100%;
    word-wrap: break-word;
    background-color: #64c6ff;
    border: 0.05em inset #366885;
    border-radius: 1vw;
    padding: 0.4em;
    text-align: center;
    display: inline-block;
}

.button:active{
    background-color: rgba(100, 198, 255, 0.8);
    color: #2e2459EE;
    border: 0.05em solid #486778;
}

.button2 {
    font-family: 'RegularText';
    font-weight: bold;
    color: #2e2459;
    font-size: max(1em,1vw);
    width: max(10%, 150px);
    word-wrap: break-word;
    background-color: #64c6ff;
    border: 0.05em inset #366885;
    border-radius: 1vw;
    padding: 0.4em;
    text-align: center;
    display: inline-block;
}

.button2:active{
    background-color: rgba(100, 198, 255, 0.8);
    color: #2e2459EE;
    border: 0.05em solid #486778;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
    padding: 0px 10% 25px 10%;
}

.entry{
    border-radius: 8px;
    border: 2px solid gray;
}

.container {
    color: white;
    font-family: 'RegularText';
    background-color: black;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    line-height: 300%;
}

.dropdown{
    font-family: 'RegularText';
    background-color: #2e2459EE;
    text-align: center;
    color: white;
    font-size: max(1em,2vh);
    border-radius: 20px;
    outline: white;
    width: 30vw;
}

option{
    font-size: min(1em,1.2vw);
}

.username{
    font-family: 'RegularText';
    background-color: #2e2459EE;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: max(1em,2vh);
    width: 30vw;
}

.numberSelection{
    font-family: 'RegularText';
    background-color: #2e2459EE;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: max(1em,2vh);
    width: 30vw;
}

@font-face{
    font-family: 'RegularText';
    src: url("OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Title';
    src: url("patrick-hand.regular.ttf") format("truetype");
}