<template class="test">
    <div id="app" class="app">
        <h1 class="header">Trivia</h1>
        <router-view class="routerView"></router-view>
    </div>
</template>

<script>
</script>

<style src="@/css/pages.css"></style>
